html {
  --lumo-font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --lumo-border-radius: calc(var(--lumo-size-m) / 2);
  --lumo-primary-text-color: rgb(131, 198, 231);
  --lumo-primary-color-50pct: rgba(131, 198, 231, 0.5);
  --lumo-primary-color-10pct: rgba(131, 198, 231, 0.1);
  --lumo-primary-color: hsl(200, 68%, 71%);
  --lumo-error-text-color: rgb(255, 124, 117);
  --lumo-error-color-50pct: rgba(255, 124, 117, 0.5);
  --lumo-error-color-10pct: rgba(255, 124, 117, 0.1);
  --lumo-error-color: hsl(3, 100%, 73%);
  --lumo-success-text-color: rgb(76, 246, 87);
  --lumo-success-color-50pct: rgba(76, 246, 87, 0.5);
  --lumo-success-color-10pct: rgba(76, 246, 87, 0.1);
  --lumo-success-color: hsl(124, 90%, 63%);
}

[theme~="dark"] {
  --lumo-primary-text-color: rgb(131, 198, 231);
  --lumo-primary-color-50pct: rgba(131, 198, 231, 0.5);
  --lumo-primary-color-10pct: rgba(131, 198, 231, 0.1);
  --lumo-primary-color: hsl(200, 68%, 71%);
  --lumo-base-color: hsl(214, 0%, 14%);
  --lumo-shade-5pct: rgba(255, 255, 255, 0.05);
  --lumo-shade-10pct: rgba(255, 255, 255, 0.1);
  --lumo-shade-20pct: rgba(255, 255, 255, 0.2);
  --lumo-shade-30pct: rgba(255, 255, 255, 0.3);
  --lumo-shade-40pct: rgba(255, 255, 255, 0.4);
  --lumo-shade-50pct: rgba(255, 255, 255, 0.5);
  --lumo-shade-60pct: rgba(255, 255, 255, 0.6);
  --lumo-shade-70pct: rgba(255, 255, 255, 0.7);
  --lumo-shade-80pct: rgba(255, 255, 255, 0.8);
  --lumo-shade-90pct: rgba(255, 255, 255, 0.9);
  --lumo-shade: hsl(214, 100%, 100%);
}
    